/* ======================================================
   OEFENEN MET CSS SELECTORS
========================================================= */

/* 0: Voorbeeld: maak de achtergrondkleur van de pagina wit */

body {
    background-color: #FFFFFF;
}

/* 1.1 Geef de 'img' tag in the header een ID en zet zijn breedte op 100% */

#headerImage {
    width: 100vh;
}

/* 1.2 Verander de kleur van alle list items in de unordered list naar hsl(110, 29%, 52%) */

ul {
    color: hsl(110, 29%, 52%);
}

/* 1.3 Geef de 'span' tag in de footer een beschrijvende class name en maak de lettergrootte kleiner  */

.credits {
    font-size: small;
}

/* 1.4 Haal de text-decoration van navigatie-links weg, geef onbezochte links de kleur hsl(359, 79%, 56%) en verander de kleur wanneer de gebruiker er overheen hovert. */

.wrapper a {
    text-decoration: none;
}

.wrapper a:link {
    color: hsl(359, 79%, 56%);
    hover: hsl(359, 79%, 90%);
}

/* 1.5 Maak een hover- en visited stijl voor alle links in 'main'. */

main a:visited {
    color: aqua;
}

main a:hover {
    color: chartreuse;
}
/* Verander de achtergrond van de SignUp button. Tip: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors  */

input[type="submit"] {
    background: lightskyblue;
}

/* Geef het tekst-veld een blauwe rand wanneer hij in focus is */

p:focus {
    border: solid darkblue 1px;
}

/* Target alle heading tags op de pagina en zet hun font-family op 'Noto Sans JP', sans-serif */

h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
}
